.form {
    /* display: flex; */
    border: 1px solid black;
    margin: 12px;
}

.formRow {
    align-items: center;
    /* background-color: lightblue; */
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.formCont {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formButton {
    cursor: pointer;
}

.formButton:hover {
    background-color: lightgray;
}
